body {
  padding-top: 75px;
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05),
    0 4px 8px 0 rgba(0, 0, 0, .05);
}

#home-quote {
  background: url('../img/bg-quote.jpg') center center;
  background-size: cover;
}

@media (max-width: 767px) {
  #home-quote .display-4 {
    font-size: 2.5rem;
  }

  #plataforma {
    font-size: 2.5rem;
  }

  body {
    padding-top: 0px;
  }

  .fixed-top {
    position: relative;
  }
}

.container {
  padding: 2rem 0rem;
}

#cookies {
  margin-top: 0rem;
  max-width: 100%;
}

.modal-dialog .modal-content {
  border-radius: 0rem;
}

.modal-dialog .modal-content .modal-body .buttons .btn {
  margin: 0.1rem;
}